:root{
  font-size:62.5%;
  --dark: #171717;
  --grey: #444;
  --cyan: #00ddfb;
  --light: #EDEDED;

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* font-size: 1.6rem; */
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
}
h1{
  font-size: 4.0rem;
}
p{
  font-size: 1.6rem;
  line-height: 2rem;
}
h3{
  font-size: 1.8rem;
}
h2{
  font-size: 3rem;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--dark);
  }
}
@media (prefers-color-scheme: light) {
  html{
    color-scheme: light;
  }
  body{
    color: var(--dark);
    background: var(--light);
  }
}